.header__image {
    position: relative;
	height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: #fff;
}

.post__content {
    margin: 10px 10% 0 10%;
}

.posts__image__container {
    margin: 5% 10%;
}
