.header__image {
    position: relative;
	height: calc( 70vw / 1280 * 800);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: #fff;
}

.post__content {
    margin: 10px 10% 0 10%;
}

.posts__image__container {
    margin: 5% 10%;
}

.blog__title__text {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Hachi Maru Pop', cursive;
    letter-spacing: 0.05em;
}

.blog__title__container {
    margin-bottom: 10%;
}

@media (max-width: 1023px) {
    .posts__image__container {
        margin: 5% 3%;
    }
}

@media (min-width: 1024px) {
    .posts__image__container {
        margin: 5% 10%;
    }
}
