.tags {
	list-style: none;
	overflow: hidden;
	margin-left: 0px;
}
 
.tags li {
	text-align: center;
	float: left;
 }

.tags a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin: 0 .5em 0 0;
	padding: .6em;
	line-height: 1;
	border: 1px solid #fff;
	border-radius: 0.5em 0 0.5em 0;
	font-size: 0.75em;
 }

 .tags a:hover {
	background-color: #fff;
	color: #046D56;
 }
 