.header__image__SP {
    position: relative;
	height: calc( 100vw / 3 * 4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc( 20% / 3 );
}

.header__image__PC {
    position: relative;
	height: calc( 50vw / 1280 * 800);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: #fff;
}

.post__content {
    margin: 10px 10% 0 10%;
}

.post__content a {
    color: #444;
}

.post__content a:hover {
    color: #777;
}

.posts__image__container {
    margin: 5% 10%;
}

.blog__title__text {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Hachi Maru Pop', cursive;
    letter-spacing: 0.05em;
}

.blog__title__text:hover {
    text-decoration: underline;
}

.link a {
    color: #444;
}

.link a:hover {
    color: #777;
}

.blog__title__container {
    margin: 3em 0 3em 0;
}

@media (max-width: 1023px) {
    .posts__image__container {
        margin: 5% 3%;
    }
}

@media (min-width: 1024px) {
    .posts__image__container {
        margin: 5% 10%;
    }
}
