html {
    background-color: #F4F5F7;
    color: #444;
}

.posts {
    border: 2px dotted #eee;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
  
    &__title {
      margin: 0;
      margin-bottom: 5px;
      font-size: 1.6em;
  
      &__a {
        box-shadow: none;
      }
    }
    &__image_container {
      position: relative;
      overflow: hidden;
      border: 1px solid #eee;
    }
    &__image {
      margin-bottom: 5px;
      transition: all ease-in 0.5s;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      &:hover {
        transform: scale(1.1);
        overflow: hidden;
      }
    }
  
    &__desc {
      margin-bottom: 5px;
    }
    &__more {
      &__a {
        display: block;
        text-align: right;
        box-shadow: none;
      }
    }
  }
  
  .blog__hero {
    border: 1px solid #eee;
    margin-bottom: 5px;
  }