.posts__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.column__l__container {
    width: 100%;
    padding: 30px 15px 0px 30px;
}

.column__r__container {
    width: 100%;
    padding: 30px 30px 0px 15px;
}
  
@media (min-width: 1024px) {
    [class*="column__"] {
    width: 50%;
  }
}