.posts__container {
    display: flex;
    flex-wrap: wrap;
}

.column__l__container {
    background-color: #fefefe;
}

.column__r__container {
    background-color: #fefefe;
}

.title__content {
    color: #444444;
}

a:link, a:visited, a:active {
    color: #444444;
}

a:hover {
    color: #777777;
}

a {
    text-decoration: none;
}
  
@media (max-width: 1023px) {
    [class*="column__"] {
        width: 80%;
        margin: 0 auto calc( 20% / 3 );
    }
}

@media (min-width: 1024px) {
    .column__l__container {
        width: 40%;
        margin: 0px calc( 20% / 6 ) calc( 20% / 3 ) calc( 20% / 3 );
    }
    
    .column__r__container {
        width: 40%;
        margin: 0px calc( 20% / 3 ) calc( 20% / 3 ) calc( 20% / 6 );
    }
}