.posts__container {
    display: flex;
    flex-wrap: wrap;
}

[class*="column__"] {
    background-color: #fefefe;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
}

.title__content {
    color: #444444;
}

a.post__link:link, a.post__link:visited, a.post__link:active {
    color: #444444;
}

a.post__link:hover {
    color: #777777;
}

a.post__link {
    text-decoration: none;
}

.text__container {
    margin: 0.75rem 1.75rem;;
}

.tag__title__container {
    text-align: center;
    margin-bottom: 2rem;
}

.tag__title {
    color: #444444;
}

.tag__title:before {
    content:'#';
}

@media (max-width: 1023px) {
    [class*="column__"] {
        width: 80%;
        margin: 0 auto calc( 20% / 3 );
    }
}

@media (min-width: 1024px) {
    .column__l__container {
        width: 40%;
        margin: 0px calc( 20% / 6 ) calc( 20% / 3 ) calc( 20% / 3 );
    }
    
    .column__r__container {
        width: 40%;
        margin: 0px calc( 20% / 3 ) calc( 20% / 3 ) calc( 20% / 6 );
    }
}
